section {
  border-bottom: 1px solid black;
  min-height: 80vh;
}
.codingiseasy {
  display: flex;
}

.codingiseasy div {
  display: flex;
  flex-direction: column;
}

.codingiseasy .left {
  flex-basis: 60%;
}
body {
  flex-basis: 40%;
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/123/744/non_2x/vector-harry-potter-pattern.jpg');
  background-size: cover;
color:white;
}

iframe {
  float: left;
  clear: both;
}
